.btn {margin-bottom: 0;}

.nopaddingrow{ padding-left:0; padding-right: 0; }

.readmore{ margin-bottom: 0; margin-top: 30px;}

/* User profile */

.userideas{
    background-color:#fff;
    margin:  0 -15px 30px;
    padding: 10px;
    border-radius: 5px;
    /*height: 180px;*/
    box-shadow: 0 0 10px #E2E2E2;
}

.user img{
    /*box-shadow: 0 0 10px #242424;*/
    margin-bottom: 30px;
}

.user .row{
    padding: 10px 0;
    margin: 0;
}

.user .buttons {
    margin-top: 30px;
}
.usercol{
    /*height: 500px;*/

}
.required {
    display: inline;

}
/*#content {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    //position: absolute;
}*/

.postmain{
    margin: 0 40px;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: inherit;
    margin-bottom: 60px;
    padding: 10px 30px 30px;
    border-radius: 6px 6px 6px 6px;
}

.pagemain{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: inherit;
    margin-bottom: 30px;
    padding: 10px 30px 30px;
    border-radius: 6px 6px 6px 6px;
}

body{
    background-image: url("/bootstrap/img/bg.jpg");
}

header {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 21px;
    padding-bottom: 5px;
}

header h2{
    padding-left: 120px;
}

/*-[Comments]--------------*/
.total-comments {
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px dotted #CCCCCC;
}
.cnumber { color: #2DB2EB }
#comments {
    /*margin-top: 10px;
    padding: 0 3.1% 3.1%;
    padding-bottom: 25px;
    -moz-box-shadow: 0px 0px 1px rgba(5, 5, 5, 0.25);
    -webkit-box-shadow: 0px 0px 1px rgba(5, 5, 5, 0.25);*/
}
#commentsAdd {
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    padding: 3%;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
}
.comment time {
    padding-left: 10px;
    display: block;
    text-align: right;
    font-size: 12px;
}
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}

input#author, input#email, input#url {
    width: 324px;
    height: 36px;
    border: 1px solid #dedede;
    background: #fff;
    font-size: 12px;
    float: left;
    max-width: 85%;
    margin-right: 10px;
}
input#author, input#email, input#url, #comment {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.contactform input[type="text"] { width: 380px }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
.contact-submit, #cancel-comment-reply-link {
    color: red;
    cursor: pointer;
    margin-bottom: -20px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
ol.commentlist { margin-left: 0; padding: 0 }
.commentlist li {
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    list-style: none;
    margin: 30px 0 0;
    padding-left: 0;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
}
.removebordertop { margin-top: 0 !important }
.commentlist p {
    margin-bottom: 1em;
    line-height: 21px;
}
.fn {
    padding-top: 0px;
    display: block;
    margin-bottom: 0;
    line-height: 1.1em;
    font-weight: bold;
}
.fn a {
    vertical-align: top;
    color: #444;
    font-weight: bold;
}
.comment-meta {
    font-size: 12px;
    font-style: italic;
}
.comment-meta a { color: #888 }
.commentmetadata { overflow: hidden }
.commentmetadata ul, .commentmetadata ol { margin-top: 0 }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
    margin-top: 11px;
    padding-bottom: 9px;
    overflow: hidden;
    width: 100%;

}
.reply a {
    float: right;
    margin-top: 9px;
    margin-right: 10px;
    padding: 0 10px 0 11px;
}
.commentlist .children {
    margin-left: 4.9%;
    margin-bottom: 0;
    margin-top: 0;
    width: 95%;
}
.commentlist .children li {
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 0;
}
.avatar { float: left }
#respond h3 {
    margin-top: 18px;
    font-size: 18px;
    margin: 12px 0 0;
    padding: 0;
}
.leavea_reply {
    margin-bottom: 26px;
    display: block;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
    font-size: 14px;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}

.vcard{
    padding-top: 10px;
}

.usertblz  td {
    vertical-align: middle;
}

.comment-image {position: relative; top: -35px; left: 20px; z-index: 100; float: left}
.comment-name {padding-left: 30px; float: left}
.ideas-image {position: relative; top: -35px; left: 70px; z-index: 100; float: left}

.user:hover img{
    //transform: scale(1.2) rotate(2deg);
}

.user img{
    //transition: all 0.8s ease-in-out 0;
}
.user{
    //overflow: hidden;
}
body {
    font-family: 'Roboto', cursive;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2fa4e7;
    border-color: #2fa4e7;
    color: #ffffff;
}