.yiichat .exceded {
	color: red;
}

.yiichat .posts {
	border: 1px dotted #eee;
	display: block;
	margin-bottom: 10px;
	padding: 3px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 350px;
}

.yiichat .posts .post {
	display: block;
	border: 1px solid #aaa;
	margin-bottom: 4px;
	padding: 4px;
	overflow: auto;
	background-color: #fff;
}

.yiichat .posts .post .track {
	background-color:  #eee;
	padding: 0 15px;
	color: #333;
	float: left;
	overflow: auto;
	margin-right: 10px;
}

.yiichat-post-myown {
	background-color: #ddd;
}

.yiichat .posts .post .track .time {
}
.yiichat .posts .post .track .owner {
}

.you {
	display: block;
}


